/* #region base styles */

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #FFFFFF;
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    
    letter-spacing: 0.02em;
}
.socials .socials-linc:hover,
.socials .socials-linc:focus
{
color: #404bbf;
}



.socials {
    display: flex;
    margin-left: auto;
    
}
.socials-title {
    display: flex;
    margin-left: auto;
    gap: 40px;
    
}

.socials-linc {
    display: block;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
    transition: color 250ms;
}
/* #endregion */
/* #region conteiner */
 
  
.benefits {
    padding: 0;
}
/*#endregion */
/* #region reset */
a {
    text-decoration: none;
    color: currentColor;
}



address {
    font-style: normal;
}

/* #endregion */


/* #region btn */

.btn:hover,
.btn:focus {
    background-color: #404bbf;
}

.btn {
    border-radius: 4px;
    padding: 16px 32px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    border: none;
    margin: 0 auto;
    letter-spacing: 0.04em;
    
}
button {
    padding: 0;
    border: 1px solid transparent;
    background-color: none;
    cursor: pointer;
    transition:
     color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion */

/* #region header */
.header > .container {
    display: flex;
    align-items: center;
    max-width: 1158px; 
    margin: 0 auto;    
    padding: 0 15px;
}

.nav-desc {
    display: flex;
    gap: 40px;

    
    

}

.header {
  border-bottom: 1px solid #e7e9fc; 
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 1px 6px rgba(46, 47, 66, 0.08);
  
}


.nav-desc-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    display: block;        
    padding: 24px 0;      
    font-size: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
   }

   .nav-desc-link.active::after {
    content: "";
    border-radius: 2px;
    position: absolute;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;

}
.nav-desc-link.active {
    position: relative;
    color: #404bbf;
}

   
    

.nav-desc-item {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}


.nav-desc-link:hover,
.nav-desc-link:focus {
    color: #404bbf;
}
.logo {
    display: inline-block;
    margin-right: 76px;
    text-decoration: none;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    
}

.logo-accent {
   
        color: #4d5ae5;
}
.logo-style {
    color: #434455;
}
/* #endregion */

/* #region  hero  */

.container {
    max-width: 1158px;
   margin: 0 auto;
   padding: 0 15px;
}

.hero {
   
    background-color: #2E2F42;
    color: #FFFFFF;
    padding: 188px 0;
    
}

.hero-title {
    max-width: 496px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 48px;
}

.section {
   padding: 120px 0;

}
.section.hero {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #2e2f42;
    padding: 188px 0;
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}



/* #endregion */

/* #region benefits */
.benefits {
    padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}
 .benefits-item {
    width: calc((100% - 72px) / 4);
 }
.benefits-caption {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
}

.benefits-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

.benefits-wrapper {
    display: flex;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

}


/* #endregion */

/* #region  people  */

.container {
     max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.people {
    
    background: #f4f4fd;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;

}
.team-content-wrapper {
    padding: 32px 16px;
}
.content-wrapper {
    display: flex;
    align-items: baseline;
}

.people-text {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}
.people-item {
    padding: 0;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 2px 1px rgba(46, 47, 66, 0.08);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.people-item:hover {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 1px 6px rgba(46, 47, 66, 0.08);
    
}

.people-social-link:hover,
.people-social-link:focus {
    background-color: #404bbf;
}

.people-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.people-ill {
    display: block;
    max-width: 100%;
    height: auto;
}
.people-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 8px;
}

.title-subtitle-text {
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
    color: #434455;
}
.people-cocials {
    display: flex;
    fill: #4D5AE5;
}

.people-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
     
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.people-socials-icon {
     fill: #f4f4fd;

}

.people-social-list {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;

}

/* #endregion */

/* #region work */
.container {
   max-width: 1158px;
   margin: 0 auto;
   padding: 0 15px;
}



.work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.work-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.work-title-list {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}
.work-icon {
    width: calc((100% - 48px) / 3);
    
    
    
}

.work-icon:hover {
    box-shadow:
     0 2px 1px 0 rgba(46, 47, 66, 0.08),
     0 1px 1px 0 rgba(46, 47, 66, 0.16), 
     0 1px 6px 0 rgba(46, 47, 66, 0.08);
     background: #fff;
}

.work-img {
   display: block;
    max-width: 100%; 
    height: auto;
}


.work-prof {
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    margin: 0;
    letter-spacing: 0.02em;
}

.work-wrapper {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.work-icon:hover .overlay {
    transform: translateY(0);
}

.work-wrapper-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    width: 100%;
    height: 100%;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #4d5ae5;
}

/* #endregion */

/* #region footer */

.footer > .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer {
    background-color:  #2e2f42;
     padding: 100px 0;
}
.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-info {
    max-width: 264px;
    margin-right: 120px;
}

.logo-footer {
    
    display: inline-block;
    margin-bottom: 16px;
    color: #f4f4fd;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-accent {
    color: #4d5ae5;
}



.footer-caption {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin: 0;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-socials-icon {
    fill: #f4f4fd;
}

.footer-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}
.footer-social-list {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion */

/* #region socials */


.socials-linc {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
}

/* #endregion */